* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

section {
    text-align: center;
    padding-top: 100px;
}

/* Header styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff00371a;
    padding: 50px 150px 0 150px;
}

.banner-content {
    width: 500px;
}

.banner-title {
    text-align: justify;
    font-size: 40px;
    color: #002a4e;
}

.text-small {
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
}

.banner-description {
    text-align: justify;
    font-size: 18px;
    color: #27272799;
    margin-bottom: 10px;
}

.btn-primary {
    padding: 10px 30px;
    border-radius: 5px;
    border: 0;
    color: white;
    background-color: #002a4e;
    font-size: 20px;
    font-weight: 500;
}

.banner-image>img {
    width: 400px;
}

/* Main Section Styles */

.feature-container {
    text-align: center;
    margin-top: 100px;
    padding: 0 150px;
}

.section-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 25px;
}

.section-description {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 28x;
    width: 500px;
    margin: auto;
    margin-bottom: 25px;
}

.image-section {
    display: flex;
    justify-content: space-around;
}

.flower-img-conainer {
    width: 320px;
}

.image {
    width: auto;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 370px;
}

.image>img {
    width: 250px;

}

#c-01 {
    background-image: url("../assets/rectangle-3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#c-02 {
    background-image: url("../assets/rectangle-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#c-03 {
    background-image: url("../assets/rectangle-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.flower-text {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.support-section {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    margin: 0 150px 100px 150px;
    background-color: #2727270D;
    border: 0;
    border-radius: 5px;
}

.support-text {
    margin-top: 14px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.deals-container {
    display: flex;
    background-color: #ff00371a;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.subscribe {
    height: auto;
    padding: 100px 150px;
}

.subscribe-container {
    border-radius: 8px;
    background: url("../assets/Rectangle\ 9.png");
    background-color: #d3d3d3;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.sub-form {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.sub-form>input {
    width: 75%;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    color: #002a4e;
    font-size: 16px;
    padding-left: 20px;
}

.instagram {
    padding: 0 150px;
    margin-top: 100px;
}

.post-container {
    display: flex;
    justify-content: space-between;
}

.post-container>img {
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.06);
}


/* Gerden styles */

.gerden-pic-container {
    /* background-color: #E55473; */
    padding: 0 150px;
}

.gerden-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
    margin-top: 10px;
}

.gerdens {
    display: flex;
    height: 250px;
    border-radius: 5px;

}

.gardens>img {
    /* margin: 3px; */
    width: 320px;
    border-radius: 5px;
}

.garden-text {
    background-image: url("../assets/gerden/garden9.jpg");
    width: 320px;
    /* margin-top: 10px; */
    background-size: cover;
    border-radius: 5px;
}

.garden-texts {
    color: #ffffff;
    background-color: #5a2e3883;
    height: 100%;
    padding: 42px 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    line-height: 30px;

}

/* footer section */

footer {
    padding: 100px 150px;
    background-color: #111010;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-container {
    /* text-align: center;     */
    width: 450px;
}

.footer-title {
    margin-bottom: 20px;
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

.footer-span {
    color: #FFFFFF;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
}

.copywrite {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}