* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}


/* Header styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff00371a;
    padding: 50px 150px 0 150px;
}

.banner-content {
    width: 500px;
}

.banner-title {
    text-align: justify;
    font-size: 40px;
    color: #002a4e;
}

.text-small {
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
}

.banner-description {
    text-align: justify;
    font-size: 18px;
    color: #27272799;
    margin-bottom: 10px;
}

.btn-primary {
    padding: 10px 30px;
    border-radius: 5px;
    border: 0;
    color: white;
    background-color: #002a4e;
    font-size: 20px;
    font-weight: 500;
}

.banner-image>img {
    width: 400px;
}

/* Main Section Styles */

.feature-container {
    text-align: center;
    margin-top: 100px;
    padding: 0 150px;
}

.section-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 25px;
}

.section-description {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 28x;
    width: 500px;
    margin: auto;
    margin-bottom: 25px;
}

.flower-img-conainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.flower-image-1>img, .flower-image-2>img, .flower-image-3>img {
    padding: 20px 20px 0 20px;
    height: 250px;
}

.flower-image-1, .flower-image-2, .flower-image-3 {
    border-radius: 300px 300px 0px 0px;
    /* height: 350px; */
    width: 300px;
}
.flower-image-1{
    background: rgba(167, 33, 98, 0.15);
}
.flower-image-2{
    background: rgba(167, 33, 98, 0.15);
}
.flower-image-3{
    background: rgba(167, 33, 98, 0.15);
}